@tailwind base;

@font-face {
  font-family: Sohne;
  src: url('/sohne.woff2') format('woff2'), url('/sohne.woff') format('woff');
}

@font-face {
  font-family: Sohne;
  font-weight: 700;
  src: url('/sohne-bold.woff2') format('woff2'),
    url('/sohne-bold.woff') format('woff');
}

:root {
  --color-black: #10100f;
  --color-white: #fff;
  --color-yellow: #ffdb05;
  --color-fg: var(--color-black);
  --color-bg: var(--color-white);
}

body {
  font-family: Sohne, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  -webkit-font-smoothing: antialiased;
  font-size: 1em;
  line-height: 1.66;
  color: var(--color-fg);
  background: var(--color-bg);
  transition: background 500ms, color 200ms;
}

@tailwind components;

.content h1 {
  @apply mb-12;
  @apply font-bold;
  @apply text-4xl;
  @apply tracking-tight;
  @apply leading-none;
}

.content p {
  max-width: 33em;
  opacity: 0.66;
  @apply mb-8;
}

.content ul {
  opacity: 0.75;
  @apply mb-12;
  @apply list-disc;
}

.content li {
  @apply mb-4;
}

.content a {
  text-decoration: underline;
  opacity: 0.6;
}

@tailwind utilities;
