@tailwind base;

@font-face {
  font-family: Sohne;
  src: url('/sohne.woff2') format('woff2'), url('/sohne.woff') format('woff');
}

body {
  font-family: Sohne, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  -webkit-font-smoothing: antialiased;
  font-size: 1em;
  line-height: 1.75;
}

@tailwind components;
@tailwind utilities;
